body {
    background-color: #0b4650;
}

main {
    padding-bottom: 40px;
}

.nav-container {
    display: flex;
    align-items: flex-start;
    background-color: #072a30;
    border-radius: 20px;
}

.TechTutors_logo {
    width: 100px;
    height: auto;
    margin-top: 0;
    margin-left: 20px;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 10px;
    font-size: x-large;
    margin-right: 20px;
}   

nav a:hover {   
    color:white;
    background-color: #0b4650;
}

.header-container {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 20px; 
    flex-direction: row-reverse;
}

.Home_page_drawing {
    width: 35%;
    height: auto;
}

.text-container {
    text-align: left;
}


header {
    font-size: 400%;
    color: white;
    text-align: left;
}

.subheading {
    font-size: 100%;
    color: white;
    margin-top: 30px;
    margin-left: 300px;
}

.introduction {
    color: white;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 20px; 
}

footer {
    color: white;
    display: inline-flex;
    padding: 10px;
}

footer p {
    margin-left: 105px;
    margin-right: auto;
}

.Socials_logo {
    width: 60px;
    height: auto;
    margin-top: 0;
    padding-right: 20px;
}



